.navbar-toggler {
	width: 32px;
	height: 24px;
	box-shadow: none;
	position: relative;
	z-index: 99;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.navbar .navbar-nav .nav-link {
	font-family: "gorditamedium";
	font-size: 18px;
	color: #000;
	padding: 15px 0;
	margin: 0 25px;
}


	.theme-main-menu .navbar .mega-dropdown {
		position: relative;
	}
