.product-block-two .price,
.product-block-three .price {
  font-size: 20px;
}

.product-block-two .img-holder {
    height: 420px;
    padding: 15px;
  }

  .inside-hero-nine .page-title {
    font-size: 45px;
    margin-bottom: 15px;
  }
  .inside-hero-nine .main-wrapper p {
    font-size: 18px;
  }
  .inside-hero-nine {
    padding-top: 140px;
  }
  .inside-hero-nine .main-wrapper {
    padding-bottom: 50px;
  }

  .product-details-one .product-info .stock-tag {
    font-size: 11px;
    line-height: 22px;
    padding: 0 5px;
  }
  .product-details-one .product-info .product-name {
    font-size: 30px;
    margin: 15px 0 8px;
  }
  .product-details-one .product-info .rating li a,
  .product-details-one .product-info .availability {
    font-size: 15px;
  }
  .product-details-one .product-info .price {
    font-size: 22px;
    padding: 20px 0 5px;
  }
  .product-details-one .product-info .description-text {
    font-size: 17px;
    padding: 5px 0 10px;
    line-height: 1.7em;
  }
  .product-details-one .product-info .product-feature li {
    font-size: 18px;
  }
  .product-details-one .product-info .product-feature {
    margin: 0;
  }
  .product-details-one .product-info .customize-order h6 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .product-details-one .product-info [class*="theme-btn"] {
    padding: 0 25px;
    font-size: 13px;
    line-height: 52px;
  }
  .product-details-one .product-review-tab .nav-tabs .nav-link {
    font-size: 14px;
    padding-bottom: 15px;
  }
  .product-details-one .product-review-tab .tab-content h5 {
    font-size: 18px;
    padding-top: 15px;
  }
  .product-details-one .user-comment-area {
    padding: 15px 0 0;
  }

  .product-details-one .product-img-tab .nav-item {
    margin: 20px 10px 0 0;
    width: 88px;
  }
  .product-details-one .product-img-tab-content a img {
    height: 400px;
  }

  .product-details-one .product-review-tab .nav-tabs .nav-link {
    margin: 0;
    width: 100%;
    padding: 10px 0;
  }
  .product-details-one .product-review-tab .nav-tabs .nav-item {
    width: 100%;
  }

  body .theme-btn-seven {
    line-height: 52px;
  }

  .error-page h6 {
    font-size: 20px;
  }
  .error-page h1 {
    font-size: 60px;
    margin-bottom: 0;
  }
  .error-page p {
    margin-bottom: 40px;
  }

  .error-page {
    padding: 135px 12px 50px;
  }

  .case-details-one .title br,
  .error-page p br,
  .hero-banner-nine .scroll-bar,
  .pr-pagination-one .pr-name {
    display: none;
  }

  @media (max-width: 1199px) {
    .text-lg {
      font-size: 19px;
    }}