.main-page-wrapper {
  overflow-x: hidden;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: var(--heading);
  font-weight: normal;
}
.h1,
h1 {
  font-size: 100px;
}
.h2,
h2 {
  font-size: 52px;
}
.h3,
h3 {
  font-size: 36px;
}
.h4,
h4 {
  font-size: 24px;
  font-family: "gorditamedium";
}
.h5,
h5 {
  font-size: 20px;
}
.h6,
h6 {
  font-size: 15px;
}

.theme-main-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 65px;
  transition: all 0.4s ease-out;
}
.theme-main-menu.sticky-menu.fixed {
  z-index: 990;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #fff;
  box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.1);
}
.theme-main-menu .inner-content {
  position: relative;
}

.theme-main-menu.sticky-menu.fixed.white-vr,
.theme-main-menu.sticky-menu.fixed.dark-bg {
  background: #191919;
}
.theme-main-menu .logo-xl {
  width: 203px;
}
.theme-menu-one .right-widget .login-btn {
  margin-right: 60px;
}
.theme-menu-one .right-widget .login-btn span {
  font-family: "gorditamedium";
  margin: 0 0 0 12px;
  transition: all 0.3s ease-in-out;
  color: var(--heading);
}
.theme-menu-one .right-widget .login-btn:hover span {
  text-decoration: underline;
}
.vcamp-footer-two{
  background-color: black;
}

.vcamp-footer-two .bottom-footer {
  border-top: 1px solid white;
  padding: 35px 0 0;
  margin-top: 45px;
}
.vcamp-footer-two .bottom-footer .footer-nav a {
  font-family: "gorditamedium";
  font-size: 16px;
  color: white;
  margin-right: 25px;
}
.vcamp-footer-two .bottom-footer .footer-nav a:hover {
  text-decoration: underline;
}
.vcamp-footer-two .bottom-footer .copyright {
  font-size: 16px;
  color: white;
}

.hero-banner-six {
  position: relative;
  margin-top: 135px;
  background-color: #AFCFE1;}

.hero-banner-six .product-text h2 {
  font-size: 105px;
  font-weight: 480;
  line-height: 0.92em;
  padding: 20px 0 30px;
  transition: all 0.8s ease-in-out;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.hero-banner-six .product-text {
  padding: 150px 0;

}
.hero-banner-six .product-text *,
.hero-banner-six .product-img {
  transform: translateY(50px);
}
.hero-banner-six .slick-active .product-text *,
.hero-banner-six .slick-active .product-img {
  transform: translateY(0);
}
.product-img {
  width: 360px; 
  height: auto; 
  align-content: end;
}


.product-img-container {
  margin-bottom: 190px;
  margin-left: 50px;
  margin-right: -150px;
}

.box-layout {
  justify-content: center;
  align-items: center;
  padding-left: 65px;
  padding-right: 65px;
}

.product-slider-arrow-one li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: var(--heading);
  font-size: 28px;
  margin-left: 8px;
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}
.product-slider-arrow-one li:hover {
  background: var(--heading);
  color: #fff;
  transform: scale(1);
}

.product-block-one {
  padding: 30px 15px 60px;
  text-align: center;
}
.product-block-one .img-holder {
  position: relative;
  height: 350px;
  z-index: 5;
  margin-bottom: 35px;
  background-color: #F1F7FB;
}

.product-block-one .product-img{

  margin: 30px auto 0;

}
.product-block-one:hover .product-img {
  transform: scale(0.95);
}
.product-block-one .category-tag {
  background: #fff;
  line-height: 33px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  padding: 0 18px;
  position: absolute;
  right: 90px;
  bottom: 50px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.product-block-one .category-tag:hover {
  background: black;
  color: #fff;
  border-radius: 5px;
}


.tran4s {
  transition: all 0.4s ease-in-out;
}

.title-style-six .title {
  font-size: 58px;
  line-height: 1.24em;
  letter-spacing: 0px;
  margin-bottom: 0;
}
.title-style-six .upper-title {
  font-size: 15px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
  padding-bottom: 12px;
}

.product-block-three {
  background: #fff;
  padding: 30px 15px 60px;
  text-align: center;
}
.product-block-three .img-holder {
  position: relative;
  height: 350px;
  z-index: 5;
  margin-bottom: 35px;
  background-color: #F1F7FB;
}
.product-block-three .img-holder img {
  max-height: 100%;
}

.product-block-three .product-title {
  letter-spacing: 0px;
  color: black;
  font-size: 17px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  text-align: left; 

}

.product-block-three .price {
  font-size: 24px;
  color: #000;
  text-align: left; 


}
.product-block-three .product-img{
  margin: 30px auto 0;

}
.product-block-three:hover .product-img {
  transform: scale(0.95);
}

.product-block-three:hover .product-title {
  color: #000;
  text-decoration: underline;
}
.scroll-top {
  width: 60px;
  height: 60px;
  line-height: 30px;
  position: fixed;
  bottom: 100px;
  right: 13px;
  z-index: 99;
  text-align: center;
  color: black;
  font-size: 45px;
  cursor: pointer;
  border-radius: 50%;
  background: #AFCFE1;
  transition: all 0.3s ease-in-out;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.page-pagination-one ul li {
  font-family: "gorditamedium";
  font-size: 20px;
  color: #3e3e3e;
  margin-right: 20px;
}
.page-pagination-one ul li button {
  transition: all 0.3s ease;
}
.page-pagination-one ul.justify-content-center li {
  margin: 0 10px;
}
.page-pagination-one ul li:hover button,
.page-pagination-one ul li.active button,
.dark-bg .page-pagination-one ul li.active button {
  color: var(--red-one);
}
.page-pagination-one ul li.arrow {
  font-size: 28px;
  color: #000;
}
.page-pagination-one ul li:nth-child(6) a {
  font-size: 18px;
}
.page-pagination-one ul li a span {
  display: inline-block;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s ease;
}
.page-pagination-one ul li a:hover span,
.page-pagination-one ul li.active a span {
  background: #232323;
  color: #fff;
}
.page-pagination-one.round-style ul li {
  margin: 0 5px;
}
.dark-bg .page-pagination-one ul li,
.dark-bg .page-pagination-one ul li button,
.dark-bg .page-pagination-one ul li.arrow button,
.dark-layout .page-pagination-one ul li button,
.dark-layout .page-pagination-one ul li.arrow button {
  color: rgba(255, 255, 255, 0.8);
}

ul {
  list-style-type: none;
}

.breadcrumb-style-one .breadcrumb-item a,
.breadcrumb-style-one .breadcrumb-item {
  font-size: 17px;
  color: #949494;
}
.breadcrumb-style-one .breadcrumb-item.active {
  font-family: "gorditamedium";
  color: #000;
}
.breadcrumb-style-one .breadcrumb-item + .breadcrumb-item::before {

  margin-top: 1px;
}
.breadcrumb-style-one .breadcrumb-item a:hover {
  text-decoration: underline;
}

.font-recoleta {
  font-family: "Recoleta";
}

.product-block-two .img-holder {
  position: relative;
  background: #f5f5f5;
  height: 470px;
  z-index: 5;
  margin-bottom: 22px;
}
.product-block-two .img-holder.style-two {
  height: auto;
}
.product-block-two .img-holder .tag-one {
  font-family: "gorditamedium";
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0px;
  padding: 0 14px;
  line-height: 25px;
  border-radius: 3px;
  background: var(--red-one);
  position: absolute;
  right: 20px;
  top: 20px;
}
.product-block-two .img-holder .tag-two {
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0px;
  padding: 0 14px;
  line-height: 25px;
  border-radius: 3px;
  background: #3c3c3c;
  position: absolute;
  right: 20px;
  top: 20px;
}
.product-block-two .img-holder .cart-icon {
  display: block;
  width: 35px;
  line-height: 35px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  background: #fff;
  color: #000;
  text-align: center;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: scale(0.5);
}
.product-block-two .img-holder .cart-icon:hover {
  color: #fff;
  background: var(--red-one);
}
.product-block-two .img-holder .cart-button {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  line-height: 48px;
  background: #1f1f1f;
  text-align: center;
  color: #fff;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease-in-out;
}
.product-block-two:hover .img-holder .cart-button {
  opacity: 1;
  transform: translateY(0);
}
.product-block-two .img-holder .cart-button:hover {
  background: var(--red-one);
}
.product-block-two .product-title {
  letter-spacing: 0px;
  color: #9f9f9f;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}
.product-block-two .rating li {
  font-size: 14px;
  margin-left: 5px;
  color: #b3b3b3;
}
.product-block-two .rating li .bi-star-fill {
  color: #ffcb65;
}
.product-block-two .price {
  font-size: 24px;
  color: #000;
  margin-top: 10px;
}
.product-block-two:hover .product-img {
  transform: scale(0.95);
}
.product-block-two:hover .cart-icon {
  opacity: 1;
  transform: scale(1);
}
.product-block-two:hover .product-title {
  color: #000;
  text-decoration: underline;
}

.tran4s {
  transition: all 0.4s ease-in-out;
}

.inside-hero-nine {
  background: #fff;
  padding: 175px 0 0;
}
.inside-hero-nine .main-wrapper {
  padding-bottom: 80px;
}
.inside-hero-nine .page-title {
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 30px;
}
.inside-hero-nine .main-wrapper p {
  font-size: 24px;
}
.inside-hero-nine .breadcrumb-area {
  padding: 3px 0 23px;
}

.inside-hero-nine .share-dropdown .dropdown-toggle {
  font-family: "gorditamedium";
  font-size: 17px;
  color: #000;
}
.inside-hero-nine .share-dropdown .dropdown-toggle::after {
  content: "+";
  border: none;
  vertical-align: middle;
  transition: all 0.2s ease;
}
.inside-hero-nine .share-dropdown .dropdown-toggle.show::after {
  transform: rotate(45deg);
}
.inside-hero-nine .share-dropdown .dropdown-menu {
  min-width: 120px;
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 25px 50px rgba(213, 216, 223, 0.5);
}
.inside-hero-nine .share-dropdown .dropdown-menu .social-icon a {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background: #212121;
  color: #fff;
  line-height: 26px;
  text-align: center;
  font-size: 15px;
  transition: all 0.2s ease;
}
.inside-hero-nine .share-dropdown .dropdown-menu .social-icon a:hover {
  background: var(--red-one)
}

.product-details-one .product-img-tab {
  border: none;
}
.product-details-one .product-img-tab .nav-link {
  width: 100%;
  background: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 5px;
  height: 88px;
  margin-bottom: 12px;
}
.product-details-one .product-img-tab .nav-link img {
  max-height: 100%;
}
.product-details-one .product-img-tab .nav-link.active {
  background: #fff;
  border-color: #000;
}
.product-details-one .product-img-tab-content {
  background: #f6f6f6;
}
.product-details-one .product-info .stock-tag {
  display: inline-block;
  font-family: "gorditamedium";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #eaeaea;
  border-radius: 3px;
  line-height: 29px;
  padding: 0 13px;
}
.product-details-one .product-info .product-name {
  font-family: "gorditamedium";
  font-size: 42px;
  margin: 30px 0 10px;
}
.product-details-one .product-info .rating li {
  font-size: 13px;
  margin-right: 6px;
  color: #b3b3b3;
}
.product-details-one .product-info .rating li .bi-star-fill {
  color: #ffcb65;
}
.product-details-one .product-info .rating li a {
  font-size: 18px;
  color: #000;
  margin-left: 12px;
}
.product-details-one .product-info .rating li a:hover {
  text-decoration: underline;
}
.product-details-one .product-info .price {
  font-family: "gorditamedium";
  font-size: 28px;
  letter-spacing: -1px;
  color: #000;
  padding: 36px 0 16px;
}
.product-details-one .product-info .availability {
  color: #989ca2;
  letter-spacing: -0.5px;
}
.product-details-one .product-info .description-text {
  line-height: 35px;
  padding: 15px 0 10px;
}
.product-details-one .product-info .product-feature {
  margin-bottom: 20px;
}
.product-details-one .product-info .product-feature li {
  font-size: 20px;
  line-height: 37px;
  position: relative;
  padding-left: 30px;
}
// .product-details-one .product-info .product-feature li:before {
//   content: url(../images/icon/icon_82.svg);
//   position: absolute;
//   left: 0;
//   top: 0;
// }
.product-details-one .product-info .customize-order h6 {
  font-family: "gorditamedium";
  font-size: 18px;
  margin-bottom: 25px;
}
.product-details-one .product-info .quantity .button-group {
  border: 1px solid #e3e3e3;
  display: inline-block;
}
.product-details-one .product-info .quantity ul li {
  line-height: 40px;
  max-height: 40px;
}
.product-details-one .product-info .quantity ul li button {
  font-size: 25px;
  color: #c9c9c9;
  background: transparent;
  width: 32px;
  transition: 0.3s;
  &:hover {
    color: #aaa;
  }
}
.product-details-one .product-info .quantity ul .product-value {
  font-size: 18px;
  height: 40px;
  color: #313131;
  max-width: 45px;
  background: transparent;
  border: none;
  text-align: center;
  padding-left: 0;
}
.product-details-one .product-info .color-custome-input li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  margin: 10px 10px 0 0;
}
.product-details-one .product-info .color-custome-input li:last-child {
  margin-right: 0;
}
.product-details-one .product-info .color-custome-input li input[type="radio"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.product-details-one .product-info .color-custome-input li label {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.product-details-one .product-info .color-custome-input li label:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #fff;
  z-index: 1;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.product-details-one .product-info .color-custome-input li input[type="radio"]:checked + label:before {
  opacity: 1;
}
.product-details-one .product-info .size-custome-input li label {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border: 1px solid #e3e3e3;
  text-align: center;
  font-size: 16px;
  color: #b1b1b1;
  transition: all 0.25s ease-in-out;
}
.product-details-one .product-info .size-custome-input li {
  position: relative;
  margin-right: 12px;
}
.product-details-one .product-info .size-custome-input li:last-child {
  margin-right: 0;
}
.product-details-one .product-info .size-custome-input li input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  cursor: pointer;
}
.product-details-one .product-info .size-custome-input li input[type="radio"]:checked + label {
  border-color: #000;
  color: #000;
}
.product-details-one .product-review-tab .nav-tabs {
  border-bottom: 1px solid #ebebeb;
}
.product-details-one .product-review-tab .nav-tabs .nav-link {
  font-family: "gorditamedium";
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 1px;
  padding: 0 0 25px 0;
  position: relative;
  margin: 0 55px 0 0;
  border: none;
  border-radius: 0;
}
.product-details-one .product-review-tab .nav-tabs .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -1px;
  z-index: 1;
  background: #000;
  transform: scale(0, 1);
  transition: all 0.3s ease;
}
.product-details-one .product-review-tab .nav-tabs .nav-link.active:before {
  transform: scale(1);
}
.product-details-one .product-review-tab .nav-tabs .nav-item:last-child .nav-link {
  margin-right: 0;
}
.product-details-one .product-review-tab .tab-content h5 {
  font-family: "gorditamedium";
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 18px;
}
.product-details-one .product-review-tab .tab-content p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 37px;
}
.product-details-one .product-review-tab .tab-content .product-feature li {
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}
// .product-details-one .product-review-tab .tab-content .product-feature li:before {
//   content: url(../images/icon/image\ 13.svg);
//   position: absolute;
//   left: 0;
//   top: 0;
// }
.product-details-one .user-comment-area {
  padding-right: 200px;
}
.product-details-one .user-comment-area .single-comment {
  padding-bottom: 40px;
}
.product-details-one .user-comment-area .single-comment:last-child {
  padding-bottom: 0;
}
.product-details-one .user-comment-area .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.product-details-one .user-comment-area .user-comment-data {
  padding-left: 30px;
  position: relative;
}
.product-details-one .user-comment-area .user-comment-data .name {
  font-family: "gorditamedium";
  font-size: 18px;
  margin-bottom: 4px;
}
.product-details-one .user-comment-area .rating li {
  font-size: 14px;
  margin: 0 3px;
  color: #b3b3b3;
}
.product-details-one .user-comment-area .rating li .bi-star-fill {
  color: #ffcb65;
}
.product-details-one .user-comment-area .user-comment-data p {
  padding-top: 8px;
  line-height: 33px;
}

.style-none {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.hero-banner-two .button-group .demo-button {
  line-height: 55px;
  border-radius: 8px;
  background: #161616;
  font-size: 18px;
  margin-right: 60px;
  color: #fff;
  padding: 0 30px;
}
.hero-banner-two .button-group .demo-button:hover {
  background: var(--red-one);
}
.hero-banner-two .button-group .callback-button {
  font-family: "gorditamedium";
  font-size: 16px;
  color: var(--heading);
}
.hero-banner-two .button-group .callback-button:hover {
  text-decoration: underline;
}

.theme-btn-seven{
  margin-left: 20px;
}

body .theme-btn-seven {
  font-family: "gorditamedium";
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 38px;
  text-align: center;
  line-height: 55px;
  background: #5FA1C6;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
body .theme-btn-seventeen:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #5FA1C6;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
body .theme-btn-seventeen:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid #000;
  z-index: -2;
  transform: translate(6px, 6px);
  transition: all 0.3s ease-in-out;
}
body .theme-btn-seventeen:hover:before {
  transform: translate(-6px, -6px);
}
body .theme-btn-seventeen:hover:after {
  background: #ff5332;
}

body .theme-btn-nine {
  font-family: "gorditamedium";
  font-size: 15px;
  text-transform: uppercase;
  color: #5FA1C6;
  padding: 0 35px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 55px;
  border: 5px solid;
  transition: all 0.3s ease-in-out;
}
body .theme-btn-nine:hover {
  background: #5FA1C6;
  color: #ffffff;
}

.error-page {
  background: #AFCFE1;
  min-height: 100vh;
  padding: 185px 10% 50px;
  position: relative;
  z-index: 2;
}
.error-page h6 {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 5px;
}
.error-page h1 {
  font-size: 82px;
  color: #fff;
  padding: 10px 0 25px;
}
.error-page p {
  color: #fff;
  margin-bottom: 55px;
}
.error-page .theme-btn-four {
  font-size: 14px;
}
.error-page .illustration {
  max-width: 64%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

body .theme-btn-four {
  font-family: "gorditamedium";
  font-size: 18px;
  color: #fff;
  padding: 0 28px;
  min-width: 180px;
  text-align: center;
  line-height: 51px;
  border: 2px solid;
  background: var(--red-one);
  transition: all 0.3s ease-in-out;
}
body .theme-btn-four:hover {
  background: transparent;
  color: black;
}

.error-page .theme-btn-four {
  font-size: 14px;
}

.text-lg {
  font-size: 24px;
  line-height: 1.7em;
}

.shapes {
  position: absolute;
  z-index: -1;
}

.user-data-page .illustration-wrapper {
  width: 48%;
  padding: 40px 0 0;
  min-height: 100vh;
  text-align: center;
}
.user-data-page .illustration-wrapper blockquote {
  font-size: 32px;
  line-height: 1.56em;
  color: #0e0e0e;
  padding: 0 15px 15px;
}
.user-data-page .illustration-wrapper .bio {
  font-family: "gorditamedium";
  font-size: 24px;
  color: #000;
  display: block;
  padding-bottom: 15px;
}
.user-data-page .illustration-wrapper .illustration-holder {
height: 100%;
width: 90%;
}
.user-data-page .illustration{
  width: 100%;
}
.user-data-page .illustrationad{
  height: 100%;
}
.user-data-page .form-wrapper {
  width: 52%;
  height: 100%;
  padding: 50px 5% 20px;
  position: relative;
}
.user-data-page .go-back-button {
  font-size: 15px;
  font-family: "gorditamedium";
  color: #000;
  margin-left: 450px;
}
.user-data-page .go-back-button:hover {
  color: #5FA1C6;
  text-decoration: underline;
}
.user-data-page .form-wrapper h2 {
  font-size: 62px;
  line-height: 1.161em;
}
.user-data-page .form-wrapper h2 span {
  color: #5FA1C6;
  position: relative;
  display: inline-block;
}
.user-data-page .form-wrapper h2 span:before {
  content: "";
  position: absolute;
  width: 97%;
  height: 4px;
  background: #5FA1C6;
  left: 0;
  bottom: 0;
}
.user-data-page .form-wrapper .header-info {
  font-size: 24px;
  color: black;
  letter-spacing: -1px;
}
.user-data-page .form-wrapper .header-info a {
  text-decoration: underline;
  color: #5FA1C6;
}
.user-data-page .form-wrapper .copyright-text {
  font-size: 15px;
}


.user-data-form .input-group-meta  label {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 2px;
}

.user-data-form .input-group-meta {
  position: relative;
}

.user-data-form .input-group-meta input {
  width: 100%;
  height: 60px;
  font-size: 17px;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 0 52px 0 20px;
  background: transparent;
}
.user-data-form .input-group-meta label {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 2px;
}
.user-data-form .input-group-meta .placeholder_icon {
  position: absolute;
  height: 60px;
  top: 30px;
  right: 0;
  bottom: 0;
  width: 50px;
  text-align: center;
  z-index: 1;
  color: rgba(0, 0, 0, 0.45);
  font-size: 17px;
}
.user-data-form .input-group-meta .valid-sign img {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.user-data-form .input-group-meta input:valid + .valid-sign img {
  opacity: 1;
}
.user-data-form .input-group-meta .placeholder_icon img {
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
}
.user-data-form .input-group-meta .placeholder_icon span {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  position: relative;
}
.user-data-form .input-group-meta .placeholder_icon span:before {
  content: "";
  width: 2px;
  height: 26px;
  background: #000;
  position: absolute;
  top: 15px;
  left: 24px;
  transform: rotate(45deg);
  z-index: 5;
  transition: all 0.2s ease-in-out;
}
.user-data-form .input-group-meta .placeholder_icon span.eye-slash:before {
  opacity: 0;
}
.user-data-form .agreement-checkbox label {
  position: relative;
  font-size: 15px;
  color: black;
  cursor: pointer;
  padding-left: 22px;
  line-height: 18px;
  transition: all 0.1s ease-in-out;
}
.user-data-form .agreement-checkbox label a {
  color: black;
  text-decoration: underline;
}
.user-data-form .agreement-checkbox input[type="checkbox"] {
  display: none;
}
.user-data-form .agreement-checkbox label:before {
  content: "";
  width: 13px;
  height: 13px;
  line-height: 11px;
  border-radius: 2px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  font-size: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 3px;
  transition: all 0.1s ease-in-out;
}
.user-data-form .agreement-checkbox input[type="checkbox"]:checked + label:before {
  content: "\f272";
  font-family: bootstrap-icons !important;
  background: #000;
  color: #fff;
  border-color: #000;
}
.user-data-form .agreement-checkbox a {
  position: relative;
  font-size: 15px;
  color: #1e1e1e;
}
.user-data-form .agreement-checkbox a:hover {
  text-decoration: underline;
  color: black;
}
.user-data-form .theme-btn-one {
  font-size: 14px;
  text-transform: uppercase;
}
.user-data-page .full-height {
  min-height: 100vh;
  padding: 20px 0;
  flex-direction: column;
  text-align: center;
}
.full-height .user-data-form .button-solid-one {
  width: 200px;
  margin: 0 auto 30px;
}


.left{
  text-align: right;
}

.ripple-btn.theme-btn-one:hover {
  background: #161616;
}
body .theme-btn-one {
  font-family: "gorditamedium";
  font-size: 17px;
  color: #fff;
  padding: 0 42px;
  text-align: center;
  line-height: 58px;
  background: #5FA1C6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
body .theme-btn-one.border0 {
  border-radius: 0;
}
body .theme-btn-one.xs {
  font-size: 14px;
  text-transform: uppercase;
}
body .theme-btn-one img {
  vertical-align: 0;
  margin-left: 10px;
  display: inline-block;
}

.hoo{
 margin-left: 925px;
}

.funfleximg{
  float: left;
}


.navbar .dropdown-toggle::after {
	content: "\f282";
	font-family: bootstrap-icons;
	border: none !important;
	font-size: 15px;
	font-weight: 700;
	position: absolute;
	right: 0;
	line-height: 56px;
	top: 0;
	transition: all 0.3s ease;
	color: inherit;
}
.navbar .show.dropdown-toggle::after {
	transform: rotate(180deg);
}

///form
.user-data-form .input-group-meta select.form-control {
  width: 100%;
  height: 60px;
  font-size: 17px;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 0 52px 0 20px;
  background: transparent;
}

.user-data-form .input-group-meta select.form-control:focus {
  outline: none;
  border-color: #5FA1C6; 
}


.custom-dropdown {
  position: relative;
}

.custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%234CAF50" width="18px" height="18px"><path d="M7 10l5 5 5-5H7z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); 
  background-repeat: no-repeat;
  background-position: right center;
}

.custom-dropdown .arrow-down {
  position: absolute;
  top: 50%;
  right: 30px; 
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid gray; 
}

.mrx {
  text-align: center;
}