
.main-page-wrapper {
  overflow-x: hidden;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: var(--heading);
  font-weight: normal;
}
.h1,
h1 {
  font-size: 100px;
}
.h2,
h2 {
  font-size: 52px;
}
.h3,
h3 {
  font-size: 36px;
}
.h4,
h4 {
  font-size: 24px;
  font-family: "gorditamedium";
}
.h5,
h5 {
  font-size: 20px;
}
.h6,
h6 {
  font-size: 15px;
}

.theme-main-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 65px;
  transition: all 0.4s ease-out;
}
.theme-main-menu.sticky-menu.fixed {
  z-index: 990;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #fff;
  box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.1);
}
.theme-main-menu .inner-content {
  position: relative;
}

.theme-main-menu.sticky-menu.fixed.white-vr,
.theme-main-menu.sticky-menu.fixed.dark-bg {
  background: #191919;
}
.theme-main-menu .logo-xl {
  width: 203px;
}
.theme-menu-one .right-widget .login-btn {
  margin-right: 60px;
}
.theme-menu-one .right-widget .login-btn span {
  font-family: "gorditamedium";
  margin: 0 0 0 12px;
  transition: all 0.3s ease-in-out;
  color: var(--heading);
}
.theme-menu-one .right-widget .login-btn:hover span {
  text-decoration: underline;
}
.vcamp-footer-two{
  background-color: black;
}


.vcamp-footer-two .bottom-footer {
  border-top: 1px solid white;
  padding: 35px 0 0;
  margin-top: 45px;
}
.vcamp-footer-two .bottom-footer .footer-nav a {
  font-family: "gorditamedium";
  font-size: 16px;
  color: white;
  margin-right: 25px;
}
.vcamp-footer-two .bottom-footer .footer-nav a:hover {
  text-decoration: underline;
}
.vcamp-footer-two .bottom-footer .copyright {
  font-size: 16px;
  color: white;
}

.hero-banner-six {
  position: relative;
  // z-index: 1;
  margin-top: 135px;
  background-color: #AFCFE1;}

.hero-banner-six .product-text h2 {
  font-size: 105px;
  font-weight: 480;
  line-height: 0.92em;
  padding: 20px 0 30px;
  transition: all 0.8s ease-in-out;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.hero-banner-six .product-text {
  padding: 150px 0;

}
.hero-banner-six .product-text *,
.hero-banner-six .product-img {
  transform: translateY(50px);
}
.hero-banner-six .slick-active .product-text *,
.hero-banner-six .slick-active .product-img {
  transform: translateY(0);
}
.product-img {
  width: 360px; 
  height: auto; 
  align-content: end;
}


.product-img-container {
  margin-bottom: 190px;
  margin-left: 50px;
  margin-right: -150px;
}

.box-layout {
  // display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding-left: 65px;
  padding-right: 65px;
}
// .product_slider_space {
//   margin: 0 -20px;
// }
// .product_slider_space .item {
//   padding: 0 0px;
// }


.product-slider-arrow-one li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: var(--heading);
  font-size: 28px;
  margin-left: 8px;
  cursor: pointer;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}
.product-slider-arrow-one li:hover {
  background: var(--heading);
  color: #fff;
  transform: scale(1);
}

.product-block-one {
  padding: 30px 15px 60px;
  text-align: center;
}
.product-block-one .img-holder {
  position: relative;
  height: 350px;
  z-index: 5;
  margin-bottom: 35px;
  background-color: #F1F7FB;
//  text-align: center;
}

.product-block-one .product-img{

  margin: 30px auto 0;

}
.product-block-one:hover .product-img {
  transform: scale(0.95);
}
.product-block-one .category-tag {
  background: #fff;
  line-height: 33px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  padding: 0 18px;
  position: absolute;
  right: 90px;
  bottom: 50px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.product-block-one .category-tag:hover {
  background: black;
  color: #fff;
  border-radius: 5px;
}


.tran4s {
  transition: all 0.4s ease-in-out;
}

.title-style-six .title {
  font-size: 58px;
  line-height: 1.24em;
  letter-spacing: 0px;
  margin-bottom: 0;
}
.title-style-six .upper-title {
  font-size: 15px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
  padding-bottom: 12px;
}

////
// .product-section-three {
//   background: var(--light-blue);
// }
.product-block-three {
  background: #fff;
  padding: 30px 15px 60px;
  text-align: center;
}
.product-block-three .img-holder {
  position: relative;
  height: 350px;
  z-index: 5;
  margin-bottom: 35px;
  background-color: #F1F7FB;
//  text-align: center;
}
.product-block-three .img-holder img {
  max-height: 100%;
}

.product-block-three .product-title {
  letter-spacing: 0px;
  color: black;
  font-size: 17px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  text-align: left; 

}

.product-block-three .price {
  font-size: 24px;
  color: #000;
  text-align: left; 


}
.product-block-three .product-img{
  margin: 30px auto 0;

}
.product-block-three:hover .product-img {
  transform: scale(0.95);
}

.product-block-three:hover .product-title {
  color: #000;
  text-decoration: underline;
}
.scroll-top {
  width: 60px;
  height: 60px;
  line-height: 30px;
  position: fixed;
  bottom: 100px;
  right: 13px;
  z-index: 99;
  text-align: center;
  color: black;
  font-size: 45px;
  cursor: pointer;
  border-radius: 50%;
  background: #AFCFE1;
  transition: all 0.3s ease-in-out;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}


